local underpassZed = require('lollo_elevated_stations/lolloConstants')().underpassZed -- LOLLO we make the passenger underpass less deep

function data()
    --print('- underpassZed = ', underpassZed)
    return {
        boundingInfo = {
            bbMax = {5.5, -5.0, -59.0},
            bbMin = {-5.5, 1.0, -1.0}
        },
        collider = {
            params = {},
            transf = {1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1},
            type = 'NONE'
        },
        lods = {},
        metadata = {
            transportNetworkProvider = {
                laneLists = {
                    {
                        -- down the stairs
                        linkable = true, -- LOLLO was false
                        nodes = {
                            {
                                {0, 0, 0.80000001192093},
                                {0, -2.5, 0},
                                2.4000000953674
                            },
                            {
                                {0, -2.5, 0},
                                {0, -2.5, 0},
                                2.4000000953674
                            }
                        },
                        speedLimit = 20,
                        transportModes = {'PERSON'}
                    },
                    {
                        -- horizontally into the underpass
                        nodes = {
                            {
                                {0, -0, underpassZed},
                                {0, -2.5, 0},
                                2.4000000953674
                            },
                            {
                                {0, -2.5, underpassZed},
                                {0, -2.5, 0},
                                2.4000000953674
                            }
                        },
                        speedLimit = 20,
                        transportModes = {'PERSON'}
                    },
                    {
                        -- straight down
                        -- LOLLO NOTE alter the sequence if underpassZed changes!
                        linkable = true,
                        nodes = {
                            {
                                {0, -2.5, 0},
                                {0, -1, 0},
                                2.4
                            },
                            {
                                {0, -2.5, underpassZed},
                                {0, -1, 0},
                                2.4
                            },
                            {
                                {0, -2.5, underpassZed},
                                {0, -1, 0},
                                2.4
                            },
                            {
                                {0, -2.5, -5},
                                {0, -1, 0},
                                2.4
                            },
                            {
                                {0, -2.5, -5},
                                {0, -1, 0},
                                2.4
                            },
                            {
                                {0, -2.5, -10},
                                {0, -1, 0},
                                2.4
                            },
                            {
                                {0, -2.5, -10},
                                {0, -1, 0},
                                2.4
                            },
                            {
                                {0, -2.5, -15},
                                {0, -1, 0},
                                2.4
                            },
                            {
                                {0, -2.5, -15},
                                {0, -1, 0},
                                2.4
                            },
                            {
                                {0, -2.5, -20},
                                {0, -1, 0},
                                2.4
                            },
                            {
                                {0, -2.5, -20},
                                {0, -1, 0},
                                2.4
                            },
                            {
                                {0, -2.5, -25},
                                {0, -1, 0},
                                2.4
                            },
                            {
                                {0, -2.5, -25},
                                {0, -1, 0},
                                2.4
                            },
                            {
                                {0, -2.5, -30},
                                {0, -1, 0},
                                2.4
                            },
                            {
                                {0, -2.5, -30},
                                {0, -1, 0},
                                2.4
                            },
                            {
                                {0, -2.5, -35},
                                {0, -1, 0},
                                2.4
                            },
                            {
                                {0, -2.5, -35},
                                {0, -1, 0},
                                2.4
                            },
                            {
                                {0, -2.5, -40},
                                {0, -1, 0},
                                2.4
                            },
                            {
                                {0, -2.5, -40},
                                {0, -1, 0},
                                2.4
                            },
                            {
                                {0, -2.5, -45},
                                {0, -1, 0},
                                2.4
                            }
                        },
                        speedLimit = 20,
                        transportModes = {'PERSON'}
                    }
                },
                runways = {},
                terminals = {}
            }
        },
        version = 1
    }
end
